:root {
    --main-color: #ff7b73;
    --main-bg-color: #ffffff;
    --light-bg-color: #ffffff;
    --header-bg-color: #ff7b73;
}

body {
    min-width: 400px;
    background: var(--main-bg-color);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background: var(--header-bg-color);

    .title {
        margin: 0;
        font-size: 30px;
        color: #ffffff;

        .small {
            font-size: 24px;
        }
    }
}

#main {
    width: 100%;
    margin-top: 50px;
}

/* form */
.link-form {
    padding: 0 50px;

    .link-form-wrap {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 1200px;
        height: 60px;
        margin: 0 auto;
        padding: 0 0 0 20px;
        border: 2px solid var(--main-color);
        border-radius: 6.25em;
        background-color: var(--light-bg-color);
        box-sizing: border-box;
        box-shadow: 0 0.125em 0.3125em rgb(200 200 200 / 80%);
    }

    .link-input {
        border: 0;
        outline: 0;
        border-radius: 5em;
        width: 100%;
        height: 100%;
        line-height: 100%;
        background: var(--light-bg-color);
    }

    .link-input-text {
        padding: 0 5px;
        font-size: 20px;

        &::placeholder {
            color: var(--main-color);
            font-weight: bold;
        }
    }

    .link-input-submit {
        width: 100px;
        height: 100%;
        font-weight: bold;
        font-size: 16px;
        background: var(--main-color);
        color: var(--light-bg-color);
        cursor: pointer;
    }
}

.result-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
    box-sizing: border-box;

    .result-list {
        margin: 0;
        padding: 10px 15px 10px 30px;
        border: 2px solid var(--main-color);
        background: var(--light-bg-color);
        color: var(--main-color);
        list-style: square;
        box-shadow: 0 0.125em 0.3125em rgb(200 200 200 / 80%);
    }

    .result-list li {
        margin-top: 15px;

        &:first-child {
            margin-top: 0;
        }
    }

    .result-list .result-list-item {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        width: 100%;
    }

    .result-list .url-data {
        margin-right: 20px;
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
    }

    .result-list .copy-btn {
        padding: 0 6px;
        border: 0;
        border-radius: 10px;
        background: var(--main-color);
        font-weight: bold;
        font-size: 12px;
        line-height: 32px;
        color: var(--light-bg-color);
        outline: none;
        cursor: pointer;
    }
}

// media
@media (prefers-color-scheme: dark) {
    :root {
        --main-color: #ffffff;
        --main-bg-color: #151515;
        --light-bg-color: #606060;
        --header-bg-color: #606060;
    }
}

@media (max-width: 720px) {
    .link-form {
        padding: 0 25px;

        .link-form-wrap {
            padding-left: 10px;
            height: 50px;
        }

        .link-input-text {
            font-size: 14px;

            ::placeholder {
                font-weight: normal;
            }
        }

        .link-input-submit {
            font-size: 14px;
        }
    }
}
