$box-shadow: 0 0.125em 0.3125em rgb(200 200 200 / 80%);
$box-border: 10px;

:root {
    --main-color: #ff7b73;
    --main-bg-color: #ffffff;
    --light-bg-color: #ffffff;
    --header-bg-color: #ff7b73;
}

body {
    min-width: 400px;
    background: var(--main-bg-color);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background: var(--header-bg-color);

    .title {
        margin: 0;
        font-size: 30px;
        color: #ffffff;

        .small {
            font-size: 24px;
        }
    }
}

#main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 50px 0;
    box-sizing: border-box;
}

/* form */
.link-form {
    .link-form-wrap {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 60px;
    }

    .link-input {
        height: 100%;
        border: 0;
        border-radius: $box-border;
        font-size: 20px;
        line-height: 100%;
        box-sizing: border-box;
        outline: 0;
        box-shadow: $box-shadow;
    }

    .link-input-text {
        width: calc(100% - 220px);
        padding-left: 20px;
        border: 2px solid var(--main-color);
        background: var(--light-bg-color);
        color: var(--main-color);

        &::placeholder {
            font-weight: bold;
            color: var(--main-color);
        }
    }

    .link-input-submit {
        width: 200px;
        height: 100%;
        font-weight: bold;
        background: var(--main-color);
        color: var(--light-bg-color);
        cursor: pointer;
    }
}

.result-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
    box-sizing: border-box;

    .result-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 15px 20px;
        border: 2px solid var(--main-color);
        border-radius: $box-border;
        background: var(--light-bg-color);
        font-size: 18px;
        color: var(--main-color);
        box-shadow: $box-shadow;
    }

    .result-wrap .path-wrap {
        display: flex;
        align-items: center;
    }

    .result-wrap .transform-path {
        margin-right: 20px;
        font-weight: bold;
        color: var(--main-color);
    }

    .result-wrap .copy-btn {
        width: 100px;
        height: 36px;
        border: 0;
        border-radius: $box-border;
        background: var(--main-color);
        font-weight: bold;
        font-size: 14px;
        color: var(--light-bg-color);
        outline: none;
        cursor: pointer;
    }
}

// media
@media (prefers-color-scheme: dark) {
    :root {
        --main-color: #ffffff;
        --main-bg-color: #151515;
        --light-bg-color: #606060;
        --header-bg-color: #606060;
    }
}

@media (max-width: 720px) {
    #main {
        padding: 25px 25px 0;
    }

    .link-form {
        .link-form-wrap {
            flex-direction: column;
            height: auto;
        }

        .link-input {
            width: 100%;
            font-size: 16px;
        }

        .link-input-text {
            height: 60px;

            ::placeholder {
                font-weight: normal;
            }
        }

        .link-input-submit {
            height: 50px;
            margin-top: 20px;
        }
    }

    .result-section {
        .result-wrap {
            flex-direction: column;
            align-items: flex-start;
            font-size: 16px;
        }

        .result-wrap .path-wrap {
            justify-content: space-between;
            width: 100%;
            margin-top: 10px;
        }

        .result-wrap .copy-btn  {
            width: 80px;
            height: 32px;
            font-size: 14px;
        }
    }
}
